@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}
.footer {
    padding:70px 0 ;
    background-color: black  ;
}

.footer-co1 {
    width: 25%;
    padding: 0 15px;
}

.footer-co1 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-co1 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aqua;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-co1 ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-co1 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-co1 ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-co1 .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.footer-co1 .social-links a:hover {
    color: #242626;
    background-color:#ffffff;
}

/* RESPPONSIVE!!!!! */
@media(max-width: 767px){
    .footer-co1 {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-co1 {
        width: 100%;
    }
}